<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18G95</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>chm</string>
				<string>CHM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>chmdoc</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.ms-htmlhelp</string>
				<string>application/mshelp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Compiled HTML</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CHM </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.windows.compiled-html</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CHMDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Chmox</string>
	<key>CFBundleIconFile</key>
	<string>application</string>
	<key>CFBundleIconName</key>
	<string>application</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.Chmox</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>iCHM</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.4beta</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Compiled HTML</string>
			<key>UTTypeIconFile</key>
			<string>chmdoc</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.windows.compiled-html</string>
			<key>UTTypeReferenceURL</key>
			<string>https://en.wikipedia.org/wiki/Microsoft_Compiled_HTML_Help</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>CHM </string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>chm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.ms-htmlhelp</string>
					<string>application/mshelp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
